.DS_Store
*.png
*.mp4
*.d
target/flycheck0/**
target/debug/**
target/release/.fingerprint/**
target/release/deps/**
target/release/build/**
target/release/incremental/**
target/release/.*
target/release/.d
*.TAG
*rustc_info*
!*example*.png